anagram/Cargo.lock
armstrong-numbers/Cargo.lock
assembly-line/Cargo.lock
clock/Cargo.lock
difference-of-squares/Cargo.lock
gigasecond/Cargo.lock
grains/Cargo.lock
health-statistics/Cargo.lock
hello-world/Cargo.lock
leap/Cargo.lock
low-power-embedded-game/Cargo.lock
lucians-luscious-lasagna/Cargo.lock
luhn/Cargo.lock
macros/Cargo.lock
magazine-cutout/Cargo.lock
minesweeper/Cargo.lock
nth-prime/Cargo.lock
parallel-letter-frequency/Cargo.lock
prime-factors/Cargo.lock
proverb/Cargo.lock
reverse-string/Cargo.lock
role-playing-game/Cargo.lock
rpn-calculator/Cargo.lock
semi-structured-logs/Cargo.lock
short-fibonacci/Cargo.lock
space-age/Cargo.lock
sublist/Cargo.lock
anagram/target
armstrong-numbers/target
assembly-line/target
clock/target
difference-of-squares/target
gigasecond/target
grains/target
health-statistics/target
hello-world/target
leap/target
low-power-embedded-game/target
lucians-luscious-lasagna/target
luhn/target
macros/target
magazine-cutout/target
minesweeper/target
nth-prime/target
parallel-letter-frequency/target
prime-factors/target
proverb/target
reverse-string/target
role-playing-game/target
rpn-calculator/target
semi-structured-logs/target
short-fibonacci/target
space-age/target
sublist/target
